html{box-sizing: border-box;
}

body{
  background-color: rgb(39, 208, 228);
}
header{
  background-color: rgb(222, 88, 25);
}
<<<<<<< HEAD
section{background-color: rgb(13, 10, 2);}
=======
footer{
  rgb(238, 27, 222);
}
>>>>>>> 889a7d5ff8b8f44dd015cd18aa69159ad203faf7
